.styleChildDiv  {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 14rem;
  display: inline-block;
  width: 12vw;
  height: 4rem;
  background-color: white;
  
}

.styleH2 {
  padding: 10px;
  margin: 0px;
}